obj/MusicGraphQL.csproj.nuget.dgspec.json
obj/MusicGraphQL.csproj.nuget.g.props
obj/MusicGraphQL.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/MusicGraphQL.AssemblyInfo.cs
obj/Debug/net6.0/MusicGraphQL.AssemblyInfoInputs.cache
obj/Debug/net6.0/MusicGraphQL.assets.cache
obj/Debug/net6.0/MusicGraphQL.csproj.AssemblyReference.cache
obj/Debug/net6.0/MusicGraphQL.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/MusicGraphQL.GlobalUsings.g.cs
obj/Debug/net6.0/project.razor.json
